@using MvcCv.Models.Entity
@model List<TblDeneyimlerim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Proje Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Alt Başlık</th>
        <th>Tarih</th>
        <th>Düzenle</th>
        <th>Sil</th>
    </tr>
    @foreach(var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Title</td>
                    <td>@item.Subtitle</td>
                    <td>@item.Date</td>
                    <td>
                        <a class="btn btn-info btn-sm" href="/Deneyim/DeneyimGetir/@item.ID">
                            <i class="fas fa-pencil-alt"></i>
                            Düzenle
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-danger btn-sm" href="/Deneyim/DeneyimSil/@item.ID">
                            <i class="fas fa-trash"></i>
                            Sil
                        </a>
                    </td>
                </tr>
            }
</table>
<a href="/Deneyim/DeneyimEkle/" class="btn btn-primary">Yeni Proje Ekle</a>